* {
  box-sizing: border-box;
}

body {
    background-color: #FF8900;
    }
    #image {
      max-width: 100%;
      display: block;
      margin: auto;
    }
    
    
    h1 {
      text-align:
      center;
    }
    h2 {
      text-align:
      center;
    }
    
    
    figcaption {
      text-align:
      center;
      color: white;
      font-size: 1.4rem;
    }
    
    a:hover {
      color: white;
    }
    
    p {
      padding: 2px 10%;
      text-align:center;
    
    
    }
    ul {
      padding: 2px 15%;
    
    }

    li {
      font-size: 1.15rem;
      margin: 0 20% 0 20%;
    }


    #tribute-info {
      font-size: 1.5rem;
    }
    .bottom-text {
      font-size: 1.2rem;
    }
    